# Build output
[Bb]in/
[Oo]bj/
artifacts/
TestResults/
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info

# NuGet packages and package output
*.nupkg
*.snupkg
packages/
.nuget/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# JetBrains IDEs
.idea/
*.sln.iml

# Operating-system files
.DS_Store
Thumbs.db
